/* reset */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ChosunKg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* header */
#header {
  font-family: ChosunKg;
  height: 100px;
  padding: 0 10%;
  border-bottom: solid 3px #2d6942;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header a {
  color: #000000;
  text-decoration: none;
}

#header li > a:hover {
  font-weight: 600;
  color: #009b64;;
}

#header span:first-child {
  display: flex;
  align-items: center;
}

#header span:first-child > span > h1, h4{
  font-weight: 500;
}

#header img {
  width: 70px;
  margin-right: 5px;
}

#header span > ul > li {
  padding: 39px 0 39px 30px;
  font-size: 2.3rem;
  display: inline;
  position: relative;
}

#header span > ul > li:hover > ul{
  font-weight: 500;
  display: block;
}

#header span > ul > li > ul {
  width: 153px;
  margin-left: 15px;
  font-size: 2rem;
  list-style-type: none;
  text-align: center;
  background-color: #2d6942;
  color: #ffffff;
  position: absolute;
  top: 100px;
  display: none;
}

#header span > ul > li > ul > li {
  padding: 13px 0;
}

#header span > ul > li > ul > li:hover {
  font-size: 2.1rem;
  background-color: #009b64;
}


/* footer */
#footer {
  font-family: ChosunKg;
  height: 130px;
  padding: 0 10%;
  border-top: solid 3px #2d6942;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer > span > span {
  display: block;
  padding: 5px 0;
}

#footer span > h4 {
  display: inline;
  margin-right: 28px;
}

#footer span > h4 > span {
  color: #2d6942;
}

#footer img {
  height: 70px;
}

