/* reset */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'ChosunKg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
.jejugothic * { 
 font-family: 'Jeju Gothic', sans-serif;
}


/* header */
#header {
  font-family: ChosunKg;
  width: 80%;
  height: 100px;
  padding: 0 10%;
  border-bottom: solid 3px #2d6942;
  font-size: 1.5rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

#header a {
  color: #000000;
  text-decoration: none;
}

#header li > a:hover {
  font-weight: 600;
  color: #009b64;;
}

#header span:first-child {
  display: flex;
  align-items: center;
}

#header span:first-child > span > h1, h4{
  font-weight: 500;
}

#header img {
  width: 70px;
  margin-right: 5px;
}

#header span > ul > li {
  padding: 39px 0 39px 30px;
  font-size: 2.3rem;
  display: inline;
  position: relative;
}

#header span > ul > li:hover > ul{
  font-weight: 500;
  display: block;
}

#header span > ul > li > ul {
  width: 153px;
  margin-left: 15px;
  font-size: 2rem;
  list-style-type: none;
  text-align: center;
  background-color: #2d6942;
  color: #ffffff;
  position: absolute;
  top: 100px;
  display: none;
}

#header span > ul > li > ul > li {
  padding: 13px 0;
}

#header span > ul > li > ul > li:hover {
  font-size: 2.1rem;
  background-color: #009b64;
}


/* footer */
#footer {
  font-family: ChosunKg;
  height: 130px;
  padding: 0 10%;
  border-top: solid 3px #2d6942;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer > span > span {
  display: block;
  padding: 5px 0;
}

#footer span > h4 {
  display: inline;
  margin-right: 28px;
}

#footer span > h4 > span {
  color: #2d6942;
}

#footer img {
  height: 70px;
}


/* main */
.main {
  font-family: 'Jeju Gothic', sans-serif;
  margin: 0 13%;
}

.pageTop {
  padding-top: 103px;
}

/* homePage */
#homePage > div:first-child {
  height: 628px;
  background-color: pink;
}

#homePage > div:nth-child(2) {
  padding: 15px 13%;
  background-color: #CDCDCD;
  display: flex;
  justify-content: space-around;
}

#homePage > div:nth-child(2) img {
  width: 200px;
}

#homePage > div:nth-child(3) > div:first-child {
  height: 250px;
  background-color: beige;
}

#homePage > div:nth-child(3) > div:nth-child(2) {
  height: 475px;
  background-color: darkcyan;
}


/* banner */
.banner {
  width: 100%;
  height: 180px;
  border-bottom: solid 3px #2d6942;
  background-image: url('../public/bannerBg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  display: table;
}

.banner::before {
  content: "";
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} 

.banner h1 {
  font-size: 4.5rem;
  letter-spacing: 5px;
  color: #ffffff;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/*
.banner {
  height: 180px;
  border-bottom: solid 3px #2d6942;
  position: relative;
}

.banner::after {
  content: "";
  background-image: url('../public/bg1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
*/


/* introduce */
#introducePage > div > div {
  height: 1000px;
}

.left {
  width: 20%;
  float: left;
}

.right {
  width: 80%;
  float: right;
  background-color: aliceblue;
}

.left ul {
  margin: 30px 10px 0 30px;
}

.left li {
  list-style: none;
  padding: 8px 10px;
  border-bottom: 2px solid #2d6942;
  font-size: 2.6rem;
}

/* notice */
.board {
  height: 675px;
}

.board > div:first-child {
  width: 90%;
  height: 600px;
  margin: auto;
}

.board button {
  float: right;
  margin: 15px 0;
  padding: 8px 15px;
  border: 2px solid #2d6942;
  border-radius: 15px;
  font-size: 1.5rem;
  background-color: #ffffff;
}

.board button:hover {
  color: #ffffff;
  background-color: #009b64;
}

/* noticeBoard */
.noticeBoard {
  width: 100%;
  border-top: 2px solid #2d6942;
  border-bottom: 2px solid #2d6942;
  border-collapse: collapse;
}

.noticeBoard th {
  padding: 13px 5px;
  border-bottom: 2px solid #2d6942;
  font-size: 2.1rem;
  background-color: #CDCDCD;
}

.noticeBoard th:first-child {
  width: 7%;
}

.noticeBoard th:nth-child(2) {
  width: 11%;
}

.noticeBoard th:nth-child(3) {
  width: 60%;
}

.noticeBoard th:nth-child(4) {
  width: 18%;
}

.noticeBoard tr {
  border-bottom: 1px solid #009b64;
}

.noticeBoard td {
  padding: 11px 8px;
  font-size: 1.9rem;
  text-align: center;
}

.noticeBoard tr > td:nth-child(3) {
  text-align: left;
  padding-left: 2%;
}

/* boardPageBtn */
.boardPageBtn {
  font-size: 2rem;
  text-align: center;
  position: relative;
  bottom: -10px;
}

.boardPageBtn ul {
  list-style: none;
}

.boardPageBtn li {
  padding: 8px;
  display: inline;
}





/* writePost */
.writePost {
  width: 90%;
  height: 655px;
  margin: 20px auto 0;
}

.writePost div {
  display: flex;
  justify-content: center;
}

.writePost button {
  margin: 15px 10px;
  padding: 8px 15px;
  border: 2px solid #2d6942;
  border-radius: 15px;
  font-size: 1.5rem;
  background-color: #ffffff;
}

.writePost button:hover {
  color: #ffffff;
  background-color: #009b64;
}

/* writeTable */
.writeTable {
  width: 100%;
  border-top: 2px solid #2d6942;
  border-bottom: 2px solid #2d6942;
  border-collapse: collapse;
}

.writeTable tr {
  border-bottom: 1px solid #000000;
}

.writeTable tr:nth-child(2) {
  height: 530px;
}

.writeTable th {
  width: 13%;
  padding: 13px 5px;
  font-size: 2.1rem;
  background-color: #CDCDCD;
}

.writeTable td {
  width: 87%;
  padding: 0 8px;
}

/*
<input type="text" name="text" size="20" style="width:100%; border: 0;">
<textarea name="content" rows="10" style="width:100%; border: 0; resize: none;"></textarea>
*/

.writeTable input {
  width: 100%;
  height: 38px;
  border: 0;
  font-size: 1.9rem;
}

.writeTable textarea {
  width: 100%;
  height: 510px;
  border: 0;
  font-size: 1.9rem;
  resize: none;
}